<?xml version="1.0" encoding="utf-8"?>
<Project>
    <Dress ClientChecked="false" ClientFormWidth="1152" ClientFormHeight="681" WebChecked="true" ApplyComparisonUserChanges="false" />
    <Translation SaaSMode="false" AutoDeploy="true">
        <Client Checked="false" SolutionName="DesktopClient" EntryPointName="" DressPath="scene\client\dress\system" CompileChecked="true" CompileMSBuildPath="C:\WINDOWS\Microsoft.NET\Framework64\v4.0.30319\MSBuild.exe" CompileWarningLevel="3" ShowCompileInfo="true" CompileOpenApplication="true" />
        <Web Checked="true" DressPath="scene\web\dress\system" />
        <ServerCSharp Checked="true" SolutionName="Server" EntryPointName="" OverwriteWebConfigFile="true" CompileChecked="true" CompileMSBuildPath="C:\WINDOWS\Microsoft.NET\Framework64\v4.0.30319\MSBuild.exe" CompileWarningLevel="3" ShowCompileInfo="true" />
        <ServerJava Checked="false" ProjectName="Server" EntryPointName="" OverwriteConfigPropertiesFile="true" PackageChecked="true" PackageCustomizedJdkPath="" PackageUseCustomizedJdkPath="false" PackageCustomizedMavenPath="" PackageUseCustomizedMavenPath="false" PackageWarningLevel="3" PackageShowPackageInfo="true" />
        <Database Checked="true" />
    </Translation>
    <Deployment ServerKind="IISExpress" OpenWebHomePage="true" WebHomePage="" OpenServerHomePage="true" Url="http://localhost:54432" WebVirtualPath="/" ServerVirtualPath="/server">
        <IISExpress Bit32="true" />
        <Tomcat CustomizedTomcatPath="" UseCustomizedTomcatPath="false" />
    </Deployment>
</Project>