<?xml version="1.0" encoding="utf-8"?>
<Ku>
    <Description></Description>
    <PackagePath>..\..\..\lib</PackagePath>
    <References>
        <Base Name="by" />
        <External FileName="SunEditor.js" Language="JavaScript">
            <Class Name="SunEditor" TargetFullName="byJsExternal_SunEditor" />
        </External>
    </References>
</Ku>